/*
PREVIEW PICS
*/

/*To use the covers manually updated with blink*/
/*
@\import "https://dl.dropbox.com/s/i548sh0xh7c2bkm/Manga%20List%20Covers.css";
*/

/*To use the covers provided by Azurewebsites*/
@\import "https://malscraper.azurewebsites.net/covers/manga/bl_nk";


@i\mport "https://fonts.googleapis.com/css?family=Viga";

* {
    text-decoration: none;
}
body {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("https://i.imgur.com/vwNXRtQ.jpg");
    background-position: 40% 30%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    font-family: Viga !important;
  
}
a {
    color: #f28f56;
  
}

a :hover {
  color: yellow !important;
  transition: all 0.4s ease 0s;
}
body {
    background-color: rgba(0, 0, 0, 0);
    color: #bbbbbb;
  
}
#list_surround {
    font-size: 14px;
    height: 200px;
    left: 5%;
    line-height: 1;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 0;
    width: 650px;
}
.table_header {
    padding-bottom: 4px;
}
.table_header span {
    display: none;
}
.table_header:nth-child(2) {
    text-align: left;
}
[cellspacing="0"] {
    line-height: 17px;
}
.td1, .td2 {
   	background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    vertical-align: top;
  	border-bottom:1px dashed #85d1e9;
    padding: 4px 0;
    transition: background-color 1s linear 0s;
  	
}
.animetitle + small {
    color: #FFFFFF !important;
    visibility: visible !important;
  	padding:2px;
    background: none repeat scroll 0% 0% #5c8ae6;
  border-radius:5px;
  box-shadow: inset 0 0 2px  white;
  text-shadow: 0px 1px black;
}
#list_surround small {
    visibility: hidden;
}
#list_surround small a:last-of-type {
    display: none !important;
}
td[class^="td"]:nth-child(2) {
    text-align: left;
  text-shadow: 1px 1px 3px #FFFFFF;
}

#list_surround a[href*="https://myanimelist.net/panel.php?go=edit"], #list_surround a[href*="https://myanimelist.net/editlist.php?type="], #list_surround a[href*="https://myanimelist.net/panel.php?go=add"] {
    margin-right: 10px;
    visibility: visible !important;
}

tr:hover td[class^="td"] {
    background-color: #7e99ff;
}
tr:hover td.td1 a, tr:hover td.td1, tr:hover td.td2 a, tr:hover td.td2 {
    color: #FFFFFF;
    text-shadow: 0 0 1px #FFFFFF;
  /*transition: all 0.4s ease 0s;*/
}

.table_headerLink {
    color: #FFFFFF ;
    line-height: 20px;
}
td[class^="td"]:nth-child(3), td[class^="td"]:nth-child(3) a {
    color: #f28f56 ;
  text-shadow: 1px 1px 3px #FFFFFF;
}
td[class^="td"]:nth-child(5), td[class^="td"]:nth-child(5) a {
    color: #f28f56 ; 
  text-shadow: 1px 1px 3px #FFFFFF;
  
}
td[class^="td"]:first-child {
    border-left: 0px solid #92d6ed !important;
}
td[class^="td"]:last-child {
    border-right: 0px solid #FFFFFF !important;
}
.table_header {
    background-color: #f5a66d;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 0 0;
  letter-spacing: 1px;
  padding:2px;
  border-bottom: 3px solid #92d6ed;
}
.table_header:first-child {
    border-left: 0px solid #FFFFFF !important;
  border-radius: 16px 0 0 0;
  border-right: 0px;
  border-bottom: 3px solid #92d6ed !important;
  border-top: 0px solid #FFFFFF !important;
}
.table_header:nth-child(5) {
    border-radius: 0 16px 0 0;
    border-right: 0px solid #FFFFFF !important;
}
/* 

EDIT BUTTON


*/

#list_surround table:nth-of-type(n+4) tbody div small {
    letter-spacing: -25px;
    visibility: visible;
  color: transparent !important;
  
}
#list_surround table:nth-of-type(n+4) tbody small a:first-of-type {
    display: inline-block !important;
  opacity: 0;
}
#list_surround table:nth-of-type(n+4) tbody small a:last-of-type {
    display: none !important;
}
#list_surround table:nth-of-type(n+4) tbody:hover small a:first-of-type {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none
    color: white ;
    display: inline-block !important;
    position: relative !important;
    text-align: left;
    visibility: visible; 
    opacity: 1 !important;
    transition: all 0.8s ease 0s;
  letter-spacing: 1px;
  float: right;
  padding-left: 5px;
}
.td1 div, .td2 div {
    color: transparent !important;
    padding-left: 4px;
}
.td1 div:hover small a, .td2 div:hover small a {
    color:white;
    transition: all 0.8s ease 0s;
}

/*

*/
.category_totals {
    background-color: #55c2e3;
    border-top: 2px solid #FFFFFF;
    border-radius: 0 0 16px 16px;
    color: #FFFFFF;
    padding: 3px 3px 9px;
    text-align: center;
}

#grand_totals {
    background-color: #55c2e3;
    border-color: #FFFFFF;
    border-radius: 0 0 12px 12px;
    border-style: solid;
    border-width: 2px;
    color: #FFFFFF;
    display: block;
    margin-top: 35px;
    padding: 0 10px 10px;
    position: absolute;
    text-align: center;
    width: calc(100% - 24px);
  padding-top:10px;
}

td[class^="td"]:nth-of-type(2) {
    width: 454px !important;
}
/* 


COVER NECESSITIES


*/
.table_header:nth-of-type(6), span[id*="tagLinks"], div[id*="tagChangeRow"] {
    display: none !important;
}
td[class^="td"]:nth-of-type(6) {
    width: 0;
}
span[id*="tagRow"] {
    background-color: rgba( 0, 0, 0, 0.7) !important;
    /*border: 2px solid #FFFFFF;*/
    border-radius: 0px 20px 20px 0px;
    display: block !important;
    line-height:15px !important;
    padding: 8px 8px 8px ;
    position: fixed;
    left: 980px;
    text-shadow: 0 0 0 #000000 !important;
    visibility: hidden;
    width: 199px;
  bottom: 20px !important;
  transition: all 0s ease 0s;
  height:282px;
}
span[id*="tagRow"]:before {
	content:"Tags: ";
  color:#85d1e9;
  
}
tr:hover span[id*="tagRow"] {
    color: white !important;
    visibility: visible;
}
:hover + .hide {
    background-color: #f5a66d;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: auto auto !important;
  	border: 0px double #87d1ea;
    box-shadow: 0 2px 2px #000000;
    display: block !important;
    height: 250px;
    padding: 39px 22px 9px 10px;
    position: fixed;
    bottom: 20px;
    left: 770px;
    width: 183px;
}
/*  


HEADERS 



*/
[class^="header_"] * {
    background-repeat: no-repeat no-repeat;
    font-size: 0;
    height: 345px;
    line-height: 24px;
    padding-bottom: 50px;
    text-align: right;
    vertical-align: bottom;
}
.header_title {
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: inline-block;
    font-style: italic;
    height: auto;
    padding: 0 8px 0 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.header_cw {
    background-color: transparent;
    background-image: url("https://i.imgur.com/iMaiyEX.png");
    background-position: 50% 2px;
    background-repeat: no-repeat no-repeat;
    height: 350px;
    margin-bottom: -45px;
}
.header_completed {
    background-color: transparent;
    background-image: url("https://i.imgur.com/ir3fhyr.png");
    background-position: 50% 2px;
    background-repeat: no-repeat no-repeat;
    margin-bottom: -44px;
    z-index: 0;
}
.header_onhold {
    background-color: transparent;
    background-image: url("https://i.imgur.com/927ciVe.png");
    background-position: 50% 2px;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: -44px;
}
.header_dropped {
    background-color: transparent;
    background-image: url("https://i.imgur.com/Ibau5ua.png");
    background-position: 50% 2px;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: -44px;
}
.header_ptw {
    background-color: transparent;
    background-image: url("https://i.imgur.com/YYXBtTA.png");
    background-position: 50% 2px;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-bottom: -44px;
}
/*


CATEGORY LINKS


*/

.status_selected:hover {
    opacity: 1 !important;
    transition: all 0.4s ease 0s;
  display:block;
  background-image:url("https://i.imgur.com/pOLpB0y.png") !important;
}

.status_not_selected:hover {
    opacity: 1 !important;
    transition: all 0.4s ease 0s;
  right:20px !important;
  display:block;
  background-image:url("https://i.imgur.com/pOLpB0y.png") !important;
}
.status_selected:hover a, .status_not_selected:hover a {
    color: #f09e64 !important;
  	text-shadow: 5px 5px 5px black;
    font-size: 15px;
    height: 75px;
    text-decoration: none;
    width: 150px !important;
  	padding-top: 80px !important; 
 	 	text-align:center;
		transition:all 0.4s ease 0s;
  	display:block;
}
.status_not_selected a {
	color:transparent;
  display:block;
}
.status_not_selected a, .status_selected a {
    height: 125px;
    width: 125px;
  transition: all 0.4s ease 0s;
    }
.status_selected a {
    display: block;
  color:#83ceed;
    font-size: 15px;
    height: 125px;
    width: 150px;
  	text-shadow: 2px 3px 2px black;
  padding-top:80px;
  word-wrap: break-word;
}
.status_selected {
    display: block;
    opacity: 1;
    transition: all 0.4s ease 0s;
  right:20px !important;
  background-image:url("https://i.imgur.com/pOLpB0y.png") !important;
}

.status_not_selected {
    display: block;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
#list_surround .status_selected, #list_surround .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("https://i.imgur.com/NmQCkML.png");
    background-repeat: no-repeat no-repeat ;
    display: block;
    height: 150px;
    right: 0%;
    padding: 0px;
    position: fixed;
    top: -5px;
    width: 150px;
  z-index:500;
}
#list_surround .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0% 20% !important;
    top: 110px; 
}
#list_surround .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0px 40% !important;
	top:220px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0 60% !important;
  top:330px

}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0 80% !important;
    background-repeat: repeat repeat;
    display: inline;
  top:440px;

}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0 100% !important;
    background-repeat: no-repeat no-repeat;
    display: inline;
		top:550px;
    width: 150px;
}
/*

COPYRIGHT

*/

#copyright:after {
    content: "Design by SylakentH, thanks to DeviantArt!";
    font-size: 12px;
  	color:#85d1e9;
}
#copyright {
    background-color: #A0373C;
    border: 4px solid #f6985b;
    border-radius: 12px;
    color: #FFFFFF;
    display: block;
    margin-top: -10px !important;
    padding: 2px 14px 4px;
    position: relative;
  transition: all 0.4s ease-out 0s;
}
#copyright:hover {
	padding-top:10px;
  height:280px;
  background-attachment:scroll;
  background-image:url("https://i.imgur.com/x6RYgQn.png");
  background-repeat: no-repeat no-repeat;
  background-position: 0% 100%;
  transition:all 0.4s ease 0s;
}
#copyright a {
    color: #FFFFFF;
    font-size: 14px;
    padding-right: 2px;
    text-shadow: 1px 1px #f5a66d;
}

/* TOP MENU BAR */

#mal\_control_strip:before {
	position: absolute;
	display: block;
	content: 'Menu';
	margin-top: 190px;
	left: 15px !important;
	padding: 4px 8px;
	background-color: #f5a66d;
	border-radius: 0 0 1em 1em;
  border: 1px solid white;
  width: 80px;
  text-align:center;
} 

#mal\_control_strip {
	position: fixed !important;
	display: block !important;
	margin-top: -192px !important;
	height: 192px !important;
	width: 128px !important;
  left: 62px !important;
	border-top: none;
	background: url("https://i.imgur.com/ieRCRE4.png") no-repeat center top #f5a66d !important;
	border-radius: 0 0 1em 1em;
	transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	z-index: 10;
  border: 1px solid white;
}

#mal\_control_strip:after {
	position: fixed;
	display: block;
	content: '';
	left: 0;
	top: -300px;
	width: 100%;
	height: 300px;
	box-shadow: 0 0 20px #f5a66d;
} 

#mal\_control_strip a { text-decoration: none !important; }

#mal\_control_strip a:hover { text-decoration: underline !important; }

#mal\_control_strip:hover { margin-top: 0 !important; }

#mal\_control_strip, #mal\_control_strip a, #mal\_control_strip td, #mal\_control_strip td div, #mal\_control_strip a { 
	font-family: 'Electrolize', sans-serif !important;
	color: #8f2589 !important;
	font-size: 16px !important;
}

#mal\_control_strip td {
	display: block !important;
	width: 100px !important; 
}

#mal\_control_strip img, #mal\_cs_powered, #mal\_cs_powered img, #mal\_cs_pic img, #mal\_cs_otherlinks strong, #search,
#mal\_cs_otherlinks div a[href*="sharedanime"], #mal\_cs_otherlinks div span[title*="Compatibility Score"] { display: none !important; }

#mal_cs_pic, #mal_cs_listinfo, #mal_cs_links { border-right: none !important; }

#mal\_cs_otherlinks div:nth-child(2) {  color: transparent !important; } 

/* Username, Logout */
#mal\_cs_listinfo div { margin: 0 !important; } 

#mal\_cs_listinfo div a {
	position: relative !important; 
	display: block !important; 
	top: 68px !important;
	line-height: 18px !important;
}

/* Add to List, Home, Anime List, Manga List */
#mal\_cs_links div { margin: 0 !important; }

#mal\_cs_links div a {
	position: relative !important; 
	display: inline-block !important; 
	top: 68px !important;
	line-height: 18px !important;
}

#mal\_cs_links div a[href*="addtolist"] { font-weight: 600 !important; }

/* History, Forum, Export */
#mal\_cs_otherlinks div a[href*="history"], #mal\_cs_otherlinks div a[href*="forum"], #mal\_cs_otherlinks div a[href*="export"], #mal\_cs_otherlinks div a[href*="mangalist"]  { 
	display: none !important; 
} 

/* Log in, Create list, Learn more */
#mal\_cs_otherlinks div { margin: 0 !important; } 

#mal\_cs_otherlinks div a { 
	position: relative !important; 
	display: block !important; 
	top: 28px !important;
	line-height: 18px !important;
}

#mal\_cs_otherlinks div a[href*="login"] { font-weight: 600 !important; }

